Flask>=2.2
SQLAlchemy>=1.4
Flask-SQLAlchemy>=3.0
python-dotenv
requests
openai>=1.0.0
Flask-Migrate
Flask-Mail>=0.9.1
markdown>=3.4.0
APScheduler>=3.9.0
gunicorn>=21.2.0
gevent>=23.9.1
psycopg2-binary>=2.9.9
Flask-Babel>=2.0.0
stripe>=7.0.0
Flask-WTF>=1.0.0
Flask-Login>=0.6.0
